:root{
    --fondo:#F5F5F5;
    --principal: #19314b; /*SPACE CADET*/
    --secundario: #2D4B6F; /*POLICE BLUE*/
    --acento: #F1D198; /*CARAMEL*/
    --texto_oscuro: #333;
    --texto_claro:#fff;
    --sombra: #59595955; /*DAVY'S GREY*/
    --radio: 0.5rem;
}
.article__enlace--nuevo::after{
    content: "Nuevo";
    font-size: smaller;
    color: var(--texto_claro);
    background-color: var(--principal);
    margin: 0px 10px;
    padding: 5px 20px;
    border-radius: var(--radio);
}
.article__enlace--proximo::after{
    content: "Próximamente";
    font-size: smaller;
    color: var(--texto_claro);
    background-color: var(--secundario);
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: var(--radio);
}
.article__enlace--exclusivo:hover::after{
    content: "Acceso controlado";
    font-size: small;
    font-style: italic;
    color: var(--texto_claro);
    background-color: var(--secundario);
    margin: 0px 10px;
    padding: 5px 20px;
    border-radius: var(--radio);
}
.article__enlace--actualizado::after{
    content: "Actualizado";
    font-size: smaller;
    font-weight: bold;
    color: var(--texto_claro);
    background-color: var(--acento);
    margin: 0px 10px;
    padding: 5px 20px;
    border-radius: var(--radio);
}
